/* In the *, everything comes which is being 
discussed in this file.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/
body {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background: rgb(28, 118, 51);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*container*/
.container {
    position: relative;
    height: 500px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(81, 162, 76);
    box-shadow: 0 20px 25px 25px rgba(98, 171, 92, 0.5);
}

/*image which is being displayed*/
.container .image {
    position: absolute;
    top: 0;
    right: 0;
}

.container img {
    height: 500px;
    padding: 30px;
}

/*days*/
.container .days {
    display: flex;
    flex-wrap: wrap;
}

/*day, number, birthday-number*/
.container .day, 
.container .number,
.container .birthday-number
{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

/*date class*/
.container .date {
    width: 380px;
    padding: 25px;
}

/*heading of size1*/
h1 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin: 5px;
}

/*my birthday number that is 18th February*/
.birthday-number {
    color: blue;
}
