* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    color: rgb(0, 0, 0);
    background: rgb(58, 119, 73);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    height: 500px;
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(98, 171, 92);
    box-shadow: 0 20px 25px 25px rgba(98, 171, 92, 0.5);
}

.container .image {
    position: absolute;
    top: 0;
    right: 0;
}

.container img {
    height: 500px;
    padding: 30px;
}

.container .days {
    display: flex;
    flex-wrap: wrap;
}

.container .day, 
.container .number,
.container .birthday-number
{
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.container .date {
    width: 380px;
    padding: 25px;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin: 5px;
    box-shadow:10 10px 10px 10px rgba(0, 0, 0, 0.5)
}

.birthday-number {
    color: blue;
}
